.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
  margin: 2rem;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #efff8c;
  text-align: center;
  padding: 5px 0px;
}

.retry-button {
  padding: 8px 16px;
  margin: 0 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #3498db;
  color: #fff;
}

.helper-text {
  margin-top: 0px !important;
  font-weight: 500;
}
